*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: gray;
    color: white;
    height: 100vh;  /* viewport height 100% */
    width: 100vw;    /* viewport width 100% */
    text-align: center;
    padding: 2rem;
    padding-top: 12rem;
}
header h1{
    font-size: 3rem;
}
header p{
    margin: 1rem 0;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #f4f4f4;
    color: black;
    padding: 0.75rem 2rem;
}