body{
    background-color: #333;
}
/* .box{
    background-color: white;
    width: 100px;
    height: 100px;
    animation-name: animate1;
    animation-duration: 2s; */
    /* animation-iteration-count: 2; */
    /* animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes animate1{
    from{
        width: 100px;
    }
    to{
        width: 400px;
    }
} */

/* phase2 */
.box{
    background-color: white;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animate2;
    animation-iteration-count: 2;
    animation-duration: 5s;
    
}

@keyframes animate2{
    0%{
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    25%{
        top: 0;
        left: 85vw;
        transform: rotate(-360deg);
    }
    50%{
        top: 50vh;
        left: 85vw;
        transform: rotate(360deg);
    }
    75%{
        top: 50vh;
        left: 0vw;
    }
    100%{
        top: 0;
        left: 0;
    }
}